:root {
  --scrollbarBg: #2F2F37;
  --scrollbarThumb: #8585AD;
  --scrollbarWidth: 12px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
.scroll {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}
.scroll::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
.scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}

.scroll {
  width: clamp(600px, 100%, 600px);
  height: 700px;
  overflow: auto;
}

.section {
  width: 600px;
}

.title {
  text-align: start;
}

.container {
  display: flex;
  justify-content: space-between;
}

.main {
  display: inline-flex;
  justify-content: space-between;
  min-width: 1240px; 
}

.li {
  text-align: left; 
}

.li_color {
  color: #00CCCC;
}

.ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 230px;
  width: 208px;
  gap: 10px;
}

.p {
  text-align: left;
}

.paragraph {
  text-align: left;
}