.li {
  list-style-type: none;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  min-height: 48px;
  max-width: 272px;
}

.number {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background-color: #4C4CFF;
  right: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}