:root {
  --scrollbarBg: #2F2F37;
  --scrollbarThumb: #8585AD;
  --scrollbarWidth: 12px;
  --scrollbarBorder: 3px solid var(--scrollbarBg);
  --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}
.scroll {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}
.scroll::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
.scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBg);
  border-radius: var(--scrollbarBorderRadius);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
}

.scroll {
  width: clamp(640px, 100%, 640px);
  height: 312px;
  overflow: auto;
}

.container {
  margin-top: 40px;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
}

.name {
  width: 406px;
  text-align: left;
}

.price {
  display: flex;
}

.bottom {
  display: flex;
  min-width: 640px;
  justify-content: space-between;
  align-items: center;
}

.number {
  margin-left: auto;
  margin-right: auto;
}

.status {
  color: #00CCCC;
}

.data {
  color: #8585AD;
}

.priceBox {
  display: flex;
}