.container {
  display: flex;
  margin-top: 64px;
  margin-left: 360px;
}

.ul {
  list-style-type: none;
  margin: 0 60px 0 0;
  padding-left: 0;
  width: 320px;
  text-align: start;
}

.li {
  line-height	: 64px;
  text-decoration: none;
}